* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  nav {
    background: #B578B2;
    padding: 5px 20px;
    font-family: sans-serif;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
     color: orangered;
    border-bottom: 3px orangered solid;
  }
  .menu li {
    font-size: 16px;
    padding: 8px 5px;
  }
  .toggle a {
    font-size: 20px;
  }

  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
    border-color: white;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  
  /* Navbar Toggle */
  .toggle {
    cursor:pointer;
  }
  .bars {
    background: #efebeb;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
  }
  .bars:before,
  .bars:after {
    background: #f9f8f8;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .bars:before {
    top: 5px;
  }
  .bars:after {
    top: -5px;
  }
  
  /* Tablet menu */
  @media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }
  
    .logo {
        flex: 1;
    }
  
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7.5px 15px;
        background: rgb(55, 197, 26);
        border-radius:50em;
    }
    .button.secondary a {
        background: transparent;    
    }
    .button:not(.secondary) a:hover {
        background: #1f4ad6;
        border-color: #9656c0;     
    }
    .button.secondary a:hover {
        box-shadow: inset 1px orangered ;
    } 
  }
  
  /* Desktop menu */
  @media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 8px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
  }